# Rakuten Web Service
RAKUTEN_APPLICATION_ID=af86c72a-0488-4621-af3c-6ed87b6517c9
RAKUTEN_AFFILIATE_ID=526d6831.173abb51.526d6832.0964c911

# App
NEXT_PUBLIC_APP_NAME=Rakuten Select Assist
# Access Key
# pk_ncbJPfUXvItJCJQz8GcT01nDgK1CuN1LYe5ZLquOsEq
